div {
border: 5px double #0BB6E8;
background-color: black;
border-radius: 50px ;
margin-left: auto;
margin-right: auto;
margin-top: 400px;
margin-bottom: 400px;
padding: 30px;
width: 800px;
box-shadow; 10px 10px 20px cyan;
}

body {
	background-image: url('rbground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #0BB6E8;
	font-family: Odibee Sans;
	font-size: 35px;
	text-shadow: 2px 2px 4px #1639D4;
}

p {
	line-height: 1.5em;
	text-indent: 50px;
	text-align: justify;
}

p::first-letter {
	font-size: 50px;
	
}





h1 {
	font-family: Krona One;
	font-size: 50px;
}


.table {
		background-color: #16ABD4;
		color: #1639D4;
		border: 5px solid #1639D4;
		margin-left: -30px;
		margin-top: 200px;
		width: 800px;
		height: 500px;
		
	}
table, th, td	{
	border-bottom: 1px solid #1639D4;
	text-align: center;
	}
	
	
	
	td:hover{
	background-color: #1639D4;
	color: white;
	}
	
	table{
	border-collapse: collapse;
	width: 400px;
	text-shadow: none;
	}
	
	th, td{
	padding: 10px;
	}
	
	th{
	background-color: blac;
	color: #1639D4;
	}

	.kelp {
		width: 500px;
		border:  5px solid #61E978;
		
		
	}
	
	
	
	
	
	.aurora {
	width: 500px;
	}
	
	.reaper {
		width: 500px;
		float: right;
		margin-right: 100px;
		
		
	}
	
	.reaper:hover {
		margin-right: 200px;
	}
	
	.peeper {
		width: 400px;
		float: right;
		margin-top: -200px;
	}
	
	.peeper:hover {
		margin-right: 100px;
	}
	
	.fabricator {
		width: 500px;
		border: 5px solid #61E978;
	}
	
	.acid {
		width: 400px;
	}
	
	.seamoth {
		width: 350px;
		float: left;
		border: 5px solid #61E978;
	}
	
	.cyclops {
		width: 400px;
		float: right;
		border: 5px solid #61E978;
	}
	
	.prawnsuit {
		width: 400px;
		margin-top: 100px;
		border: 5px solid #61E978;
		margin-right: 180px;
		
	}
	
	.scanner {
		width: 400px;
		border: 5px solid #61E978;
	}
	
	
	
	.screen1, .screen2, .screen3, .screen4 {
		width: 500px;
		border: 5px solid #61E978;
		
		
	}
	
	.screen2, .screen3, .screen4 {
		margin-top: 10px;
	}
	
	.screen1, .screen3 {
		float: right;
	}
	
	.screen1 {
		margin-top: 100px;
	}
	
	h2 {
	font-family: Krona One;
	font-size: px;
	}
	
	.top {
		color: black;
		text-decoration: none;
		display: inline-block;
	  padding: 30px 50px;
	  font-size: 24px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  margin-top: -300px;
	  background-color: #0BB6E8;
	  border: none;
	  border-radius: 15px;
	  box-shadow: 0 9px black;
	  text-shadow: none;
	 
	}
		
	.top:visited {
		color: black;
		text-decoration: none;
		
		background-color: #0BB6E8;
	}
	
	
	
	.top:active {
  background-color: red;
  box-shadow: 0 5px black;
   transform: translateY(4px);
}
	
	.pengling {
		width: 200px;
		float: left;
		
		margin-left: 50px;
		transform: rotate(45deg);
		
	}
	
	.pengling:hover {
		margin-left: 100px;
		margin-top: -50px;
	}
	
	.pengwing {
		width: 200px;
		float: right;
		margin-right: 90px;
		transform: rotate(-20deg);
		
		
	}
	
	.pengwing:hover {
		margin-right: 100px;
		margin-top: -50px;
	}
	
	
		
	
	
	.a {
		color: #0bbf89;
		text-shadow: none;
	}
	
	.b {
		color: #0bbf89;
		float: right;
		margin-right: 100px;
		margin-top: -500px;
		text-shadow: none;
		
	}
	
	.c {
		color: #0bbf89;
		margin-left: 600px;
		margin-top: -70px;
		text-shadow: none;
		
	}
	
	.d {
		color: #0bbf89;
		font-size: 25px;
		margin-left: 30px;
		text-shadow: none;
		
	}
	
	.e {
		color: #0bbf89;
		font-size: 25px;
		text-shadow: none;
		
		
	}
	
	.f {
		margin-top: -1000px;
		margin-left: 50px;
		color: #0bbf89;
		text-shadow: none;
	}
	
	.g {
		margin-left: 1150px;
		margin-bottom: 50px;
		color: #0bbf89;
		text-shadow: none;
		
		
		
	}
	
	.h {
		color: #0bbf89;
		float: right;
		margin-right: 250px;
		text-shadow: none;
		
	}
	
	.i {
		color: #0bbf89;
		margin-top: 300px;
		margin-right: 500px;
		text-shadow: none;
	}
	
	.j {
		margin-bottom: -50px;
		text-shadow: none;
		color: #0bbf89;
		margin-left: 140px;
		
	}
	
	.k {
		text-shadow: none;
		color: #0bbf89;
		font-size: 25px;
		margin-left: 280px;
		margin-top: 50px;
		
	}
	
	.a::first-letter {
	font-size: 35px;
	
}

	.b::first-letter {
		font-size: 35px;
		
	}

	.c::first-letter {
		font-size: 35px;
		
	}

	.d::first-letter {
		font-size: 25px;
		
	}

	.e::first-letter {
		font-size: 25px;
		
	}

	.f::first-letter {
		font-size: 35px;
		
	}

	.g::first-letter {
		font-size: 35px;
		
	}

	.h::first-letter {
		font-size: 35px;
		
	}

	.i::first-letter {
		font-size: 35px;
		
	}

	.j::first-letter {
		font-size: 35px;
		
	}
	
	.k::first-letter {
		font-size: 25px;
	}
		
	
	
		
		
	
	
	
	li a:hover:not(.current) {
	background-color: #1da37b;
	color: black;

	}
	
	.current {
	background-color: #0bbf89;
	color: black;
	
	
	}
	
	
	ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: black;
	border-radius:  50px 0px;
	border: 1px solid #0bbf89;
	text-shadow: none;
	}

	li {
	float: left;
	width: 199.5px;
	}

	li a {
	display: block;
	color: #0BB6E8;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: 1px solid #0bbf89;
	
	}
	
	
	
	

