div {
border: 5px double #0BB6E8;
background-color: black;
border-radius: 50px ;
margin-left: auto;
margin-right: auto;
margin-top: 400px;
margin-bottom: 400px;
padding: 30px;
width: 800px;
box-shadow; 10px 10px 20px cyan;
}

body {
	background-image: url('rbground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #0BB6E8;
	font-family: Odibee Sans;
	font-size: 35px;
}

h1 {
	font-family: Krona One;
	font-size: 50px;
}

	.kelp {
		width: 500px;
		border:  5px solid #61E978;
	}
	
	.limestone {
		width: 200px;
	}
	
	.titanium {
		width: 200px;
		
	}
	
	.gold {
		width: 210px;
		margin-top: -15px; 
		float: right;
		
		
	}
	
	.aurora {
	width: 500px;
	}
	
	.reaper {
		width: 500px;
		float: right;
		margin-right: 100px;
		
		
	}
	
	.reaper:hover {
		margin-right: 200px;
	}
	
	.peeper {
		width: 400px;
		float: right;
		margin-top: -200px;
	}
	
	.peeper:hover {
		margin-right: 100px;
	}
	
	.fabricator {
		width: 500px;
		border: 5px solid #61E978;
	}
	
	h2 {
	font-family: Krona One;
	font-size: px;
	}
	
	.top {
		color: black;
		text-decoration: none;
		display: inline-block;
	  padding: 5px 20px;
	  font-size: 24px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	 
	  background-color: #0BB6E8;
	  border: none;
	  border-radius: 15px;
		box-shadow: 0 9px grey;
}
	}
		
	.top:visited {
		color: white;
		text-decoration: none;
		background-color: #3e8e41
	}
	
	
	
	.top:active {
  background-color: #0BB6E8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
	
	.pengling {
		width: 200px;
		float: left;
		
		margin-left: 50px;
		transform: rotate(45deg);
		
	}
	
	.pengling:hover {
		margin-left: 100px;
		margin-top: -50px;
	}
	
	.pengwing {
		width: 200px;
		float: right;
		margin-right: 50px;
		transform: rotate(-20deg);
		
		
	}
	
	.pengwing:hover {
		margin-right: 100px;
		margin-top: -50px;
	}
	
	
		
	
	
	.a {
		color: #61E978;
	}
	
	.b {
		color: #61E978;
		float: right;
		margin-right: 100px;
		margin-top: -500px;
		
	}
	
	.c {
		color: #61E978;
		margin-left: 600px;
		margin-top: -70px;
		
	}
	
	.d {
		color: #61E978;
		font-size: 25px;
		margin-left: 30px;
		
	}
	
	.e {
		color: #61E978;
		font-size: 25px;
		
		
	}
	
	.f {
		margin-top: -1000px;
		margin-left: 50px;
		color: #61E978;
	}
	
	.g {
		margin-left: 1500px;
		margin-bottom: -50px;
		color: #61E978;
		
		
		
	}
		
		
	
	
	
	li a:hover:not(.current) {
	background-color: #61E978;
	color: black;
	}
	
	.current {
	background-color: #61E978;
	color: black;
	}
	
	
	ul	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: black;
	}

	li {
	float: left;
	width: 200px;
	}

	li a {
	display: block;
	color: #0BB6E8;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: 1px solid #61E978;
	border-radius:  50px 0px;
	}
	
	
	
	


1

.wiki:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}